<!DOCTYPE html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>NUTRALIFE</title>

	
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<!--<link rel="stylesheet" href="../public/stylesheets/style1.css" type="text/css" />-->

</head>

<body ng-app="loginAngular" ng-controller="loginController">

	
	
	<div class="container">
	
		<div class="row">
		
			<div class="col-lg-4 col-md-7 col-sm-9">
	
			  <h4 style="border-bottom: 1px solid #c5c5c5;">
			    <i class="glyphicon glyphicon-user">
			    </i>
			    Account Access
			  </h4>
	  
	  		<div style="padding: 20px;" id="form-olvidado">
	  		
	  			<!--<form accept-charset="UTF-8" role="form" id="login-form" action="/signin" method="post">-->
	  			
	    			<h4 class="">
	      				Signin!
	    			</h4>
	    			
		      		<fieldset>
		      		
				        <div class="form-group input-group">
				          <span class="input-group-addon">
				            @
				          </span>
				          <input class="form-control" placeholder="Email" name="email" type="email" required="" autofocus="" ng-model="emailid">
				        </div>
				        
				        <div class="form-group input-group">
				          <span class="input-group-addon">
				            <i class="glyphicon glyphicon-lock">
				            </i>
				          </span>
				          <input class="form-control" placeholder="Password" name="password" type="password" value="" required="" ng-model="password">
				        </div>
				        
				        <div class="form-group">
				          <button class="btn btn-primary btn-block" ng-click="login()">
				            Login
				          </button>
				          <p class="help-block">
				          	<a class="pull-left text-muted" href="/signup" id="olvidado2"><small>Signup!</small></a>
				          </p>
				        </div>
				        
				        <br>
				        
				        <span style="color:red; font-weight:bold";>{{loginValidation}}</span>
				        
		      		</fieldset>
	      		
	    		<!--</form>-->
	    		
	  		</div>
	  		
	  		</div>
	  		
	  	</div>
	
	</div>


<script>
  
  	<!-- Controller Login -->
  	
  	var login = angular.module('loginAngular', []);
	login.controller('loginController', loginOperations); 
			
	function loginOperations($scope, $http) {
  		
  		$scope.login = function(){
  		
  			var loginInfo = {emailid:$scope.emailid, password:$scope.password};
  			
  			$http.post("/signin", loginInfo)
  			.success(function(data) {
  			
  				if (data === "emailid"){
		
					$scope.loginValidation = "EMAILID IS MANDATORY!!!";
		
				}else if (data === "password"){
		
					$scope.loginValidation = "PASSWORD IS MANDATORY!!!";
				
				}else if (data === "fail"){
				
					$scope.loginValidation = "WE DO NOT HAVE THIS ACCOUNT. PLEASE SIGNUP!!!";
					
				}
				else if (data === "success"){  			
				
  					console.log("Success returned from SIGNIN function");
  					window.location.assign("/bodyprofile");
  					
  				}
  				
            })
  			
  		}
  		
  		
  	}
  		
</script>


</body>