<!DOCTYPE html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>NUTRALIFE</title>

	
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<!--<link rel="stylesheet" href="../public/stylesheets/style1.css" type="text/css" />-->

</head>

<body ng-app="signUpAngular" ng-controller="signUpController">

	<div class="container">
	
		<div class="row">
		
			<div class="col-lg-6 col-md-7 col-sm-9">
	
			  <h4 style="border-bottom: 1px solid #c5c5c5;">
			    <i class="glyphicon glyphicon-user">
			    </i>
			    Account Creation
			  </h4>
	  
	  		<div style="padding: 20px;" id="form-olvidado">
	  		
	  			<!--<form accept-charset="UTF-8" role="form" id="login-form" action="/newaccount" method="post">-->
	  			
	    			<h4 class="">
	      				Signup!
	    			</h4>
	    			
		      		<fieldset>
		      		
						<div class="form-group input-group">
				          <span class="input-group-addon">
				            <i class="glyphicon glyphicon-user">
				            </i>
				          </span>
				          <input class="form-control" placeholder="First Name" name="fname" type="text" required="" autofocus="" ng-model="first_name">
				        </div>
				        
				        <div class="form-group input-group">
				          <span class="input-group-addon">
				            <i class="glyphicon glyphicon-user">
				            </i>
				          </span>
				          <input class="form-control" placeholder="Last Name" name="lname" type="text" required="" autofocus="" ng-model="last_name">
				        </div>		      		
		      		
				        <div class="form-group input-group">
				          <span class="input-group-addon">
				            @
				          </span>
				          <input class="form-control" placeholder="Email" name="email" type="email" required="" autofocus="" ng-model="emailid">
				        </div>
				        
				        <div class="form-group input-group">
				          <span class="input-group-addon">
				            <i class="glyphicon glyphicon-lock">
				            </i>
				          </span>
				          <input class="form-control" placeholder="Password" name="password" type="password" value="" required="" ng-model="password">
				        </div>
				        
				        <div class="form-group input-group">
				          <span class="input-group-addon">
				            <i class="glyphicon glyphicon-lock">
				            </i>
				          </span>
				          <input class="form-control" placeholder="Confirm Password" name="confpassword" type="password" value="" required="" ng-model="confirm_password">
				        </div>
				        
				        <div class="form-group">
				          <button class="btn btn-primary btn-block" ng-click="signUp()">Signup</button>
				          
				          <p class="help-block">
				          	<a class="pull-left text-muted" href="/login" id="olvidado2"><small>Login!</small></a>
				          </p>
				          
				        </div>
				        
				        
				        <br>
				        
				        <span style="color:red; font-weight:bold";>{{signUpValidation}}</span>
				        				          
				   </fieldset>
	      		
	    		<!--</form>-->
	    		
	  		</div>
	  		
	  		</div>
	  		
	  	</div>
	
	</div>


<script>
  
  	<!-- Controller SignUp -->
  	
  	var signUp = angular.module('signUpAngular', []);
	signUp.controller('signUpController', signUpOperations); 
			
	function signUpOperations($scope, $http) {
  		
  		$scope.signUp = function(){
  		
  			var signUpInfo = {first_name:$scope.first_name, last_name:$scope.last_name, emailid:$scope.emailid, password:$scope.password, confirm_password: $scope.confirm_password};
  			
  			$http.post("/newaccount", signUpInfo)
  			.success(function(data) {
  								
  				if (data === "first_name"){
		
					$scope.signUpValidation = "FIRST NAME IS MANDATORY!!!"
		
				}else if (data === "last_name"){
		
					$scope.signUpValidation = "LAST NAME IS MANDATORY!!!"
		
				}else if (data === "emailid"){
		
					$scope.signUpValidation = "EMAILID IS MANDATORY!!!"
		
				}else if (data === "password"){
		
					$scope.signUpValidation = "PASSWORD IS MANDATORY!!!"
		
				}else if (data === "confirm_password"){
		
					$scope.signUpValidation = "CONFIRM PASSWORD IS MANDATORY!!!"
		
				}else if (data === "match"){
		
					$scope.signUpValidation = "PASSWORDS DONT MATCH!!!"
		
				}else if (data === "exist"){
		
					$scope.signUpValidation = "THIS EMAILID ALREADY EXISTS. PLEASE LOGIN WITH YOU EMAILID AND PASSWORD!!!"
		
				}
				else{
				
  					console.log("Success returned from SIGNUP function");
  					window.location.assign("/bodyprofile");
  					
  				}
            })
  			
  		}
  		
  		
  	}
  		
</script>


</body>