<!DOCTYPE html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>NUTRALIFE</title>

	
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />
	 
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
	
	<link rel="stylesheet" href="../public/stylesheets/style1.css" type="text/css" />

</head>

<body style="background-color:#F4A460" ng-app="indexAngular" ng-controller="indexController">

	<section class="login" ng-show="loginSection">
	
		<div class="titulo">LOGIN</div>
		
			<form action="#" method="post" enctype="application/x-www-form-urlencoded">
			
	    		<input type="text" required title="Username required" placeholder="Username" data-icon="U">
	    		<br><br>
	        	<input type="password" required title="Password required" placeholder="Password" data-icon="U">
	        	
	        	<div class="olvido">
	        		<div class="col"><a href="#" title="Ver Carásteres">Register</a></div>
	            </div>
	        	
	        	<a href="#" class="enviar">Submit</a>
	        	
	    	</form>
	    	
	</section>
	
	
	<!--	
	<section class="signup" ng-show="signUpSection">
	
		<div class="titulo">SIGNUP</div>
		
			<!--<form action="#" method="post" enctype="application/x-www-form-urlencoded">-->
			
	    		<input type="text" required title="fName required" placeholder="First Name" data-icon="U"> <br><br>
	    			    		
	        	<input type="text" required title="lName required" placeholder="Last Name" data-icon="U"> <br><br>
	        	
	        	<input type="text" required title="emailId required" placeholder="Email ID" data-icon="U"> <br><br>
	        	
	        	<input type="password" required title="password required" placeholder="Password" data-icon="U"> <br><br>
	    		
	        	<input type="password" required title="confPassword required" placeholder="Confirm Password" data-icon="U"> <br><br>
	        	
	        	<!--
	        	<div class="olvido">
	        		<div class="col"><a href="#" title="Ver Carásteres">Register</a></div>
	            </div>
	        	-->
	        	<a href="#" class="enviar">Create Account</a>
	        	
	    	<!--</form>-->
	    	
	</section>
	-->
	
</body>